.containerr {
  display: flex;
}
.first__porsion {
  margin: 0 2.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5rem;
  width: 40%;
}
.first__porsion h1 {
  font-family: var(--font-family);
  font-weight: 900;
}
.first__porsion p {
  color: rgb(162, 121, 66);
}

.second__porsion {
  margin: 0 4rem;
  justify-content: space-between;
  width: 40%;
}
.second__porsion-parts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}
.second__porsion-parts > p {
  width: 70%;
  color: rgb(97, 97, 132);
  text-align: justify;
}

.this_component p {
  font-size: 15px;
}
.feturess {
  width: 20%;
}
@media screen and (max-width: 1300px) {
  .second__porsion {
    margin: 0 3rem;
  }
  .first__porsion {
    margin: 0 2rem;
  }
}
@media screen and (max-width: 1050px) {
  .first__porsion h1 {
    font-size: 25px;
  }
  .second__porsion-parts > p {
    font-size: 14px;
  }
  .this_component p {
    font-size: 12px;
  }
}
@media screen and (max-width: 1000px){
    .containerr{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .first__porsion {
        margin-top: 4rem;
        text-align: center;
        width: 70%;
      }
    .second__porsion {
        width: 70%;
      }
}
@media screen and (max-width: 620px){
    .first__porsion h1{
        font-size: 19px;
    }
    .first__porsion {
        margin-top: 3rem;
        width: 80%;
      }
    .second__porsion {
        width: 90%;
      }
}
@media screen and (max-width: 443px){
    .first__porsion {
        margin-top: 3rem;
        width: 100%;
      }
    .second__porsion-parts{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .feturess {
        width: 50%;
        margin-bottom: 1rem;
      }
      .second__porsion-parts > p {
    width: 100%;
      }
}
